body{
    text-align: center;
    align-content:center;

    background: black;
    color:white;
    font-size:30px;
    font-family:Impact;
    letter-spacing: 2px;
}

.words{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.next{
    font-size:30px;
    position:fixed;
    bottom:5%;
    right: 5%;
    color: red;
    text-decoration: none;
}

.home{
    font-size: 38;
    text-align: left;
    position:fixed;
    bottom:5%;
    left: 5%;
    color: blue;
    text-decoration:none;
}

.worse{
    font-size:30px;
    position:fixed;
    bottom:5%;
    right: 5%;
    color: white;
    text-decoration: none;
}

.blurry{
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    color: white;
    font-size: 30px;
    font-family: Impact;
    letter-spacing: 2px;
    text-align: center;
}

.blurrybackground{
    background-color: rgb(255, 0, 0);
}

.pain{
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    color: white;
    font-size: 30px;
    font-family: Impact;
    letter-spacing: 2px;
    text-align: center;
}

.opener{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    color: white;
    font-size: 30px;
    font-family: Impact;
    letter-spacing: 2px;
    text-align: center;
}
